= form_for @todo_item do |f|
  - if @todo_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo_item.errors.count, "error")} prohibited this todo_item from being saved:"
      %ul
        - @todo_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :is_completed
    = f.check_box :is_completed
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
