= form_for @todo_item do |f|
  - if @todo_item.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@todo_item.errors.count, "error")} prohibited this todo_item from being saved:"
      %ul
        - @todo_item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name do
      %span Name
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :body do
      %span Body
      = f.text_area :body, class: 'form-control'
  .checkbox
    = f.label :is_completed do
      = f.check_box :is_completed
      %span Completed?
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
