%h1 Listing TODO items

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Body
      %th Is completed
      %th
      %th
      %th

  %tbody
    - @todo_items.each do |todo_item|
      %tr
        %td= todo_item.name
        %td= todo_item.body
        %td= todo_item.is_completed
        %td= link_to 'Show', todo_item
        %td= link_to 'Edit', edit_todo_item_path(todo_item)
        %td= link_to 'Destroy', todo_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Todo item', new_todo_item_path
