%p#notice= notice

%p
  %b Name:
  = @todo_item.name
%p
  %b Body:
  = @todo_item.body
%p
  %b Is completed:
  = @todo_item.is_completed
%p
  %b User:
  = @todo_item.user

= link_to 'Edit', edit_todo_item_path(@todo_item)
\|
= link_to 'Back', todo_items_path
