{{my-checkbox checked=item.isCompleted click=(action "toggle")}}
{{#if item.body}}
  <details class="p-todo-item__details">
    <summary class="p-todo-item__name p-todo-item__name--summary">{{item.name}}</summary>
    <div class="p-todo-item__body">
      {{item.body}}
    </div>
  </details>
{{else}}
  <div class="p-todo-item__name">{{item.name}}</div>
{{/if}}
<div class="p-todo-item__actions">
  {{my-button text="Edit"}}
  {{my-button text="Delete" isDanger=true click=(action "delete")}}
</div>