<h2>{{this.currentUser.email}} さんのTODO List</h2>
<div class="p-todo-list__actions">
  <MgButton @text="Create" @onClick={{this.build}} />
  <MgButton @text="Delete Completed Items" @disabled={{this.hiddenOrHidingCompleted}} @isDanger={{true}} @onClick={{this.deleteCompletedItems}} />
  <MgToggleSwitch @label="Hide completed items?" @offLabel="Show" @onLabel="Hide" @enabled={{this.hiddenOrHidingCompleted}} @onClick={{this.toggleHiddenCompletedItems}} />
</div>
<ul class="p-todo-list">
  {{#each this.listedTodoItems as |todoItem| }}
    <TodoItem @item={{todoItem}} @setEditingRecord={{this.edit}} />
  {{/each}}
</ul>
<TodoItem::FormModal @item={{this.editingTodoItem}} @close={{this.closeEditingModal}} />
