<h2>{{current-user.email}} さんのTODO List</h2>
<div class="p-todo-list__actions">
  <MgButton @text="Create" @click={{action "build"}} />
  <MgButton @text="Delete Completed Items" @disabled={{hiddenOrHidingCompleted}} @isDanger={{true}} @click={{action "deleteCompletedItems"}} />
  <MgToggleSwitch @label="Hide completed items?" @offLabel="Show" @onLabel="Hide" @enabled={{hiddenOrHidingCompleted}} @click={{action "toggleHiddenCompletedItems"}} />
</div>
<ul class="p-todo-list">
  {{#each listedTodoItems as |todoItem| }}
    <TodoItem @item={{todoItem}} @setEditingRecord={{action "edit"}} />
  {{/each}}
</ul>
<TodoItem::FormModal @item={{editingTodoItem}} />
