<MgCheckbox @checked={{@item.isCompleted}} {{on "click" this.toggle}} />
{{#if @item.body}}
  <details class="p-todo-item__details">
    <summary title={{@item.name}} class="p-todo-item__name p-todo-item__name--summary">{{@item.name}}</summary>
    <div class="p-todo-item__body">
      {{@item.body}}
    </div>
  </details>
{{else}}
  <div title={{@item.name}} class="p-todo-item__name">{{@item.name}}</div>
{{/if}}
<MgButton @text="Edit" {{on "click" this.edit}} />
<MgButton @text="Delete" @isDanger={{true}} {{on "click" this.delete}} />
